// Colors
$bgc-main: #002529;
$bgc-secondary: #004047;
$bgc-header: #014d56;
$bgc-light: #f67d7d;
$clr-default: #ffffff;
$clr-light: #7d9092;
$clr-title-dark: #012f34;
$clr-text-light: #79c8c7;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
